# Ignore everything
*

# But not these files...
!.gitignore
!pdf2anki/*
!dist/*
!setup.py
!test.py
!README.md
!LICENSE.txt
!MANIFEST.in
!NOTICE.txt
!pyproject.toml
!README.md
!BUILD.md
!CROPPING.md
!JUDGE.md

# etc...


# ...even if they are in subdirectories
!*/

# Ignore everything in the .venv directory
.venv/*
pdf2anki/allfiles.txt
